algorithm2e.sty
AMSmath.sty
amsthm.sty
backrefx.sty
blindtext.log
blindtext.sty
book.cls
caption3.sty
colortab.sty
colortab.tex
edbk.cls
epstopdf.sty
eysm.cls
fancyhdr.sty
fncychapleo.sty
graphicx.sty
latexmkrc
latexsym.sty
mdframed.sty
missfont.log
psfig.sty
pstricks.sty
pulongtable.sty
README.md
rotating.sty
setspace.sty
texput.log
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.idx
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.sty
thesis.synctex.gz
thesis.toc
wrapfig.sty
xcolor.sty
Appendix/Appen1.aux
Appendix/Appen2.aux
Appendix/Appen3.aux
Chapter1/chapter1.aux
Chapter1/chapter1.log
Chapter1/chapter2.aux
Chapter1/chapter2.log
Chapter1/chapter3.aux
Chapter1/chapter3.log
Chapter1/chapter4.aux
Chapter1/chapter4.log
Chapter1/chapter5.aux
Chapter1/chapter5.log
Chapter1/chapter6.aux
Chapter1/chapter6.log
HeadTail/abstract.aux
HeadTail/Appen1.log
HeadTail/ack.aux
HeadTail/cert.aux
HeadTail/Certificate_of_approval_DC.aux
HeadTail/Certificate_of_approval_DC.log
HeadTail/Declaration.aux
HeadTail/dedication.aux
HeadTail/publication.aux
HeadTail/resumen.aux
HeadTail/title.aux
References/references.aux
Symbol/abbreviation.aux
Symbol/listofsymbol.aux
.DS_Store
thesis.pdf



































*.aux
